.footer {
    background: #6278f7;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.footer .redes {
    margin-top: 20px;
}

.footer img {
    padding: 0 15px;
}

.footer p {
    color: white;
    font-weight: 500;
    font-size: 18px;
}